[submodule "Atlas/vendor/spdlog"]
	path = Atlas/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Atlas/vendor/GLM"]
	path = Atlas/vendor/GLM
	url = https://github.com/g-truc/glm
[submodule "Atlas/vendor/GLFW"]
	path = Atlas/vendor/GLFW
	url = https://github.com/Kingalidj/glfw.git
[submodule "Atlas/vendor/ImGui"]
	path = Atlas/vendor/ImGui
	url = https://github.com/Kingalidj/imgui.git
